@import '../../index.scss';




.card {
    width: 100%;

    background-color: $cardBg;
    cursor: pointer;

    .card-img {
        width: 100%;
        padding: 1rem;

        a {
            width: 100%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .card-content {
        padding: 12px;
        position: relative;

        .card-link {
            min-height: 42px;
            padding: 0 .5rem;
            text-align: center;

            border-bottom: 1px solid white;

            .card-title {
                word-break: break-word;
                line-height: 1.3;
            }
        }


        .extandable {
            min-height: 20px;
        }

        .price {
            margin-top: 20px;
            margin-bottom: 5px;
            height: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all .3s ease-in-out;

            &__discount {
                color: $textColor;
                text-decoration: line-through;
            }


            &__current {
                color: red;
            }
        }

        .slide-out-block {
            height: 0;
            overflow: hidden;
            position: absolute;
            top: 7rem;
            left: 0px;
            width: 100%;
            padding: 0 12px;
            background-color: $cardBg;
            transition: all .5s ease-in-out;

            .color-palette {
                height: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                border-bottom: 1px solid white;

                .color {
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

            .buttons {
                margin-top: 4px;
                display: flex;
                flex-direction: column;
                gap: 4px;

                button {
                    width: 100%;
                    padding: .5rem;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    color: $hoverText;
                }

                .fast {
                    background-color: $buttonMain;

                    &:hover {
                        box-shadow: 0 1px 5px 0 #d75e5e;
                    }
                }

                .cart {
                    position: relative;
                    background-color: $buttonSub;
                    overflow: hidden;


                    @keyframes pulse {
                        0% {
                            transform: scale(0);
                            opacity: 0.8;
                        }

                        100% {
                            transform: scale(500%);
                            opacity: 0;

                        }
                    }

                    @-webkit-keyframes pulse {
                        0% {
                            transform: scale3d(0, 0, 0);
                            opacity: 0.8;
                        }

                        100% {
                            transform: scale3d(5, 5, 5);
                            opacity: 0;

                        }
                    }
                    transition: all .5s ease-in-out;
                    .circle {
                        transition: all 1s ease-in-out;

                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: rgba(255, 255, 255, 0.364);
                        outline: 1px solid transparent;
                        
                        // scale: 0;

                    }

                    &:hover {
                        .circle {
                            // scale: 10;
                            animation: pulse 1.5s ease-in-out infinite;
                        }
                    }

                }
            }
        }



    }


    &:hover {
        .card-content {
            .slide-out-block {
                top: 3.5rem;
                height: 85px;
                z-index: 9;
            }
        }
    }
}