$textColor: #888;
$hoverText: whitesmoke;
$black: black;
$headerBg: #0f0f0f;
$cardBg: #1d1d1d;
$buttonMain: #c42a2c;
$buttonSub: #215bb1;
$gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.8996848739495799) 35%, rgba(255, 255, 255, 1) 100%);

